<mat-nav-list class="navbarcolor">
    <div class="logo py-4">
      <img src="../../assets/user.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
       Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    Dashboard
    </a>
    <a mat-list-item> Link 3 </a>
    <a mat-list-item> Link 4 </a>
    <a mat-list-item> Link 5 </a>
    <a mat-list-item> Link 6 </a>
  </mat-nav-list>
  