.bg-light {
    background-color: #f8f9fa; // Adjust as needed
  }
  
  .min-vh-100 {
    min-height: 100vh;
  }
  
  .d-flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .mat-card {
    margin: 0 auto;
    margin-top: 20px; // Adjust as needed
    max-width: 800px; // Adjust as needed
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px; // Adjust as needed
  }
  
  .text-medium-emphasis {
    color: rgba(0, 0, 0, 0.6); // Adjust as needed
  }
  
  .text-white {
    color: #ffffff; // Adjust as needed
  }
  
  .text-center {
    text-align: center;
  }
  
  .py-5 {
    padding-top: 3.125rem; // Adjust as needed
    padding-bottom: 3.125rem; // Adjust as needed
  }
  
  .mb-3 {
    margin-bottom: 1rem; // Adjust as needed
  }
  
  .mb-4 {
    margin-bottom: 1.5rem; // Adjust as needed
  }
  
  .px-4 {
    padding-left: 1rem; // Adjust as needed
    padding-right: 1rem; // Adjust as needed
  }
  
  .px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .mt-3 {
    margin-top: 1rem; // Adjust as needed
  }
  
  .mat-icon {
    margin-right: 8px; // Adjust as needed
  }
  
  .mat-raised-button {
    margin-right: 10px; // Adjust as needed
  }
  