/* You can add global styles to this file, and also import other style files */
@import './node_modules/@angular/material/core/theming/all-theme';

/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//this is what resolved me the problem of the height of the button increases when i click on that link
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
//@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"

.mdc-list-item__primary-text {
    color: white !important;
  }
  
  :host ::ng-deep .mdc-list-item__primary-text {
    color: white !important;
  }


  // styles.scss

// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;